@import url(https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap);
@charset "UTF-8";
* {
  font-family: "Roboto", Arial, Helvetica, sans-serif; }

body,
div,
main,
article {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

h1,
h2,
h3,
h4 {
  margin-top: 0;
  line-height: 1.2; }

h1,
h2 {
  font-size: 3.5rem;
  line-height: 0.85;
  margin-bottom: 0; }

h3 {
  font-size: 2rem; }

h4 {
  font-size: 1.6rem;
  margin-bottom: 0; }

main {
  background-color: #000000;
  font-size: 18px; }
  main article {
    padding: 25px; }

body.is-blurred {
  overflow: hidden; }
  body.is-blurred main {
    filter: url("#blur");
    filter: blur(10px);
    -webkit-transition: -webkit-filter 500ms linear;
    pointer-events: none;
    user-select: none; }

.repro {
  background-color: #ffffff;
  display: flex;
  justify-content: space-between; }

.popular,
.feedback {
  color: #bbbbbb; }
  .popular h2,
  .feedback h2 {
    color: #ffffff; }

.feedback a {
  color: #bbbbbb;
  text-decoration: none; }
  .feedback a:hover {
    text-decoration: underline; }

.feedback .feedback-wrapper {
  width: 70%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between; }

form {
  position: relative; }
  form input,
  form button,
  form textarea {
    display: block;
    border-radius: 5px;
    font-size: 1em;
    border: 0; }
  form input,
  form textarea {
    width: 280px;
    color: #000000;
    margin-bottom: 15px;
    padding: 10px;
    border: none;
    -webkit-box-shadow: inset 0px 0px 5px 0px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: inset 0px 0px 5px 0px rgba(0, 0, 0, 0.5);
    box-shadow: inset 0px 0px 5px 0px rgba(0, 0, 0, 0.5); }
    form input::placeholder,
    form textarea::placeholder {
      color: #bbbbbb; }
    form input:focus,
    form textarea:focus {
      border: none; }
  form .wrong {
    background-color: #ffd5d6;
    color: #c10001; }
  form textarea {
    height: 120px; }
  form button {
    background-color: #1d00cc;
    color: #ffffff;
    padding: 12px 15px;
    font-size: 0.85em;
    float: right;
    font-weight: bold; }
    form button:hover, form button:focus {
      -webkit-box-shadow: 0px 0px 10px 0px #024a89;
      -moz-box-shadow: 0px 0px 10px 0px #024a89;
      box-shadow: 0px 0px10px 0px #024a89; }

.error-notice {
  color: #c10001;
  font-size: 0.85em;
  position: absolute;
  margin: 5px 0 0 0;
  left: 320px;
  min-width: 200px; }

.slogan {
  margin-bottom: 3em; }

.about {
  min-width: 300px;
  color: #000000; }

.details {
  font-size: 0.8em; }

strong,
.price {
  font-size: 1.1em; }

.price {
  color: #feb800; }
  .price:after {
    content: "\20BD"; }

.arrow-left,
.arrow-right {
  width: 13px;
  height: 16px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center; }
  .arrow-left:after,
  .arrow-right:after {
    content: "";
    width: 8px;
    height: 8px;
    border-radius: 50%;
    display: block;
    margin: 4px 0 0 4px; }
  .arrow-left:hover:after,
  .arrow-right:hover:after {
    -webkit-box-shadow: 0px 0px 10px 0px rgba(255, 255, 255, 0.8);
    -moz-box-shadow: 0px 0px 10px 0px rgba(255, 255, 255, 0.8);
    box-shadow: 0px 0px 10px 0px rgba(255, 255, 255, 0.8); }

.arrow-left {
  background-image: url("/img/arr-left.svg"); }

.arrow-right {
  background-image: url("/img/arr-right.svg"); }

.slider1 {
  height: 500px;
  display: flex;
  position: relative; }
  .slider1 strong,
  .slider1 .price {
    display: block;
    clear: both; }
  .slider1 .arrow-left,
  .slider1 .arrow-right {
    position: absolute;
    z-index: 9000;
    top: 240px; }
  .slider1 .arrow-left {
    left: 20px; }
  .slider1 .arrow-right {
    left: 760px; }
  .slider1 .container {
    height: 500px;
    width: 800px;
    overflow: hidden;
    position: relative; }
    .slider1 .container .slider-vertical {
      position: relative;
      width: calc(100% * 6);
      height: 500px;
      display: flex;
      justify-content: start;
      flex-wrap: nowrap; }
      .slider1 .container .slider-vertical .slide {
        border-radius: 5px;
        height: 500px;
        width: 800px;
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
        display: flex;
        align-items: flex-end; }
  .slider1 .slide1 {
    background-image: url("/img/pussen.jpg"); }
  .slider1 .slide2 {
    background-image: url("/img/breigel.jpg"); }
  .slider1 .slide3 {
    background-image: url("/img/vrubel.jpg"); }
  .slider1 .slide4 {
    background-image: url("/img/david.jpg"); }
  .slider1 .slide5 {
    background-image: url("/img/vermeer.jpg"); }
  .slider1 .slide6 {
    background-image: url("/img/karavajjo.jpg"); }
  .slider1 .details {
    background-color: rgba(0, 0, 0, 0.7);
    min-width: 50%;
    height: 55px;
    color: #ffffff;
    padding: 10px 15px;
    display: flex;
    flex-wrap: nowrap;
    align-items: stretch;
    justify-content: space-between; }
    .slider1 .details .numbers {
      margin-left: 15px; }

.previews {
  position: relative;
  margin: 18px 0 0 18px;
  width: 230px;
  height: calc($top-slider-height + $thumb-margin);
  overflow: hidden; }
  .previews .previews-container {
    height: calc(6 * $nav-slider-height);
    position: relative; }

.prv {
  display: block;
  height: 142px;
  width: 220px;
  margin-bottom: 18px;
  margin-top: 0;
  margin-right: 0;
  margin-left: 0;
  border-radius: 5px;
  background-size: cover;
  background-repeat: no-repeat;
  border-style: solid;
  border-width: 1px;
  border-color: #ffffff; }
  .prv.active {
    opacity: 0.6; }
  .prv:hover {
    opacity: 0.4;
    border-color: #000000; }

.slider2 {
  display: flex;
  align-items: center;
  justify-content: space-between; }
  .slider2 .arrow-left,
  .slider2 .arrow-right {
    margin: 0 20px 0 30px; }
  .slider2 .container {
    width: 1320px;
    height: 500px;
    overflow: hidden; }
    .slider2 .container .slider-carousel {
      position: relative;
      width: calc(100% * 6);
      height: 500px;
      display: flex;
      justify-content: start;
      flex-wrap: nowrap;
      align-items: center; }
    .slider2 .container .slide {
      margin: 0 70px;
      width: 300px; }
      .slider2 .container .slide img {
        max-height: 300px;
        max-width: 300px;
        border-radius: 5px;
        margin: 70px auto 15px auto;
        display: block; }
      .slider2 .container .slide:hover img {
        outline: solid 1px #ffffff; }
    .slider2 .container .slide3 img,
    .slider2 .container .slide7 img {
      -webkit-box-shadow: 0px 0px 100px 0px rgba(42, 168, 71, 0.51);
      -moz-box-shadow: 0px 0px 100px 0px rgba(42, 168, 71, 0.51);
      box-shadow: 0px 0px 100px 0px rgba(42, 168, 71, 0.51); }
    .slider2 .container .slide4 img,
    .slider2 .container .slide6 img {
      -webkit-box-shadow: 0px 0px 100px 0px rgba(255, 0, 34, 0.51);
      -moz-box-shadow: 0px 0px 100px 0px rgba(255, 0, 34, 0.51);
      box-shadow: 0px 0px 100px 0px rgba(255, 0, 34, 0.51); }
    .slider2 .container .slide5 img,
    .slider2 .container .slide8 img {
      -webkit-box-shadow: 0px 0px 100px 0px rgba(3, 85, 158, 0.51);
      -moz-box-shadow: 0px 0px 100px 0px rgba(3, 85, 158, 0.51);
      box-shadow: 0px 0px 100px 0px rgba(3, 85, 158, 0.51); }
  .slider2 .names,
  .slider2 .numbers {
    display: block;
    clear: both; }
  .slider2 .numbers {
    margin-top: 10px; }
  .slider2 .price {
    float: right; }

.contacts {
  color: #666666;
  font-size: 0.9rem; }
  .contacts a {
    color: #666666;
    text-decoration: none; }
    .contacts a:hover {
      color: #000000; }

.copyrights {
  font-size: 0.9rem;
  color: #666666;
  line-height: 2;
  margin-top: 100px; }
  .copyrights a {
    color: #666666; }
    .copyrights a:hover {
      color: #ffffff; }

.success {
  color: #02ae00; }
  .success h3 {
    font-size: 2rem;
    transform: rotate(-10deg);
    margin: 0 0 40px -25px; }

.shadow:before {
  content: "";
  background: #000000;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0.85;
  z-index: 9999;
  filter: progid:DXImageTransform.Microsoft.Blur(pixelRadius=5) ж; }

.modal {
  width: 800px;
  padding: 40px 110px 80px 30px;
  background-color: #ffffff;
  color: #000000;
  border-radius: 5px;
  position: fixed;
  top: 30px;
  left: calc(50% - 400px);
  z-index: 99999; }

.close {
  display: block;
  right: 20px;
  width: 20px;
  height: 20px;
  position: absolute;
  top: 20px; }

.invisible {
  display: none;
  visibility: hidden; }


/*# sourceMappingURL=styles.css.map*/