a(href="#")#prev-bottom.arrow-left
.container#viewport
  .slider-carousel(style="left: 0")
    .slide(itemscope, itemtype="https://schema.org/VisualArtwork").slide5
      img(src="/img/ajax-loader.gif", data-src="/img/vermeer.jpg", loading="lazy").js-lazy
   
      .details
        span.names
          strong(itemprop="name") Девушка с жемчужной сережкой, 
            span(itemprop="year") 1665
        span(itemprop="creator").names Ян Вермеер
        span(itemprop="size").numbers 49 х 39 см, 
          span(itemprop="material") холст
            span(itemprop="price").price 900
    .slide(itemscope, itemtype="https://schema.org/VisualArtwork").slide4
      img(src="/img/ajax-loader.gif", data-src="/img/david.jpg", loading="lazy").js-lazy

      .details
        span.names
          strong(itemprop="name") Бонапарт на перевале Сен-Бернар, 
            span(itemprop="year") 1801
        span(itemprop="creator").names Жан-Луи Давид
          span(itemprop="size").numbers 261 х 220 см, 
            span(itemprop="material") холст
              span(itemprop="price").price 3900
    .slide(itemscope, itemtype="https://schema.org/VisualArtwork").slide3
      img(src="/img/ajax-loader.gif", data-src="/img/breigel.jpg", loading="lazy").js-lazy

      .details
        span.names
          strong(itemprop="name") Охотники на снегу, 
            span(itemprop="year") 1565
        span(itemprop="creator").names Питер Брейгель Старший
        span(itemprop="size").numbers 117 х 162 см, 
          span(itemprop="material") холст
            span(itemprop="price").price 2400
    .slide(itemscope, itemtype="https://schema.org/VisualArtwork").slide6
      img(src="/img/ajax-loader.gif", data-src="/img/karavajjo.jpg", loading="lazy").js-lazy

      .details
        span.names
          strong(itemprop="name") Призвание апостола Матфея, 
           span(itemprop="year") 1599
        span(itemprop="creator").names Микеланджело Меризи да Караваджо
        span(itemprop="size").numbers 322 × 340 см, 
          span(itemprop="material") холст
            span(itemprop="price").price 5300
    .slide(itemscope, itemtype="https://schema.org/VisualArtwork").slide7
      img(src="/img/ajax-loader.gif", data-src="/img/bosh.jpg", loading="lazy").js-lazy
  
      .details
        span.names
          strong(itemprop="name") Корабль дураков, 
            span(itemprop="year") 1495-1500
        span(itemprop="creator").names Иероним Босх
          span(itemprop="size").numbers 58 × 33 см, 
            span(itemprop="material") холст
              span(itemprop="price").price 1700
    .slide(itemscope, itemtype="https://schema.org/VisualArtwork").slide8
      img(src="/img/ajax-loader.gif", data-src="/img/titzian.jpg", loading="lazy", itemprop="").js-lazy

      .details
        span.names
          strong(itemprop="name") Любовь небесная и любовь земная, 
            span(itemprop="year") 1514
        span(itemprop="creator").names Тициан Вечеллио
        span(itemprop="size").numbers 118 × 279 см, 
          span(itemprop="material") холст
            span(itemprop="price").price 1900
  
a(href="#")#next-bottom.arrow-right