a(href="#")#prev.arrow-left
a(href="#")#next.arrow-right

.container
  .slide.slide1 
    .details
      span.names
        strong(itemprop="name") Рождение Венеры, 
          span(itemprop="year") 1636
        span(itemprop="creator") Никола Пуссен
      span(itemprop="size").numbers 97 х 108 см, 
        span(itemprop="material") холст
        span(itemprop="price").price 2400
  .slide.slide2 
    .details
      span.names
        strong(itemprop="name") Шестикрылый Серафим,
          span(itemprop="year") 1904
        span(itemprop="creator") Михаил Врубель
        span(itemprop="size").numbers 131 х 155 см,
          span(itemprop="material") холст
          span(itemprop="price").price 4100
  .slide.slide3 
    .details
      span.names
        strong(itemprop="name") Охотники на снегу,
          span(itemprop="year") 1565
        span(itemprop="creator") Питер Брейгель Старший
      span(itemprop="size").numbers 117 х 162 см
        span(itemprop="material") холст
        span(itemprop="price").price 3700
.previews
  a(href="#").prv.slide1
  a(href="#").prv.slide2
  a(href="#").prv.slide3